
extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
//- Remove fixed-top if don't want navbar alway on top add class static-postionto make navbar static -//
block body
	section.banner
		.owl-carousel.owl-theme
				.row.item
					img(src="./img/banner1.png", alt="").img-fluid
				.row.item
					img(src="./img/banner2.png", alt="").img-fluid
				.row.item
					img(src="./img/banner3.png", alt="").img-fluid
	section.trangchu
		.container
			.row
				.col-sm-8
					img(src="./img/trangchu1.png", alt="").img-fluid
				.col-sm-4
					.hinh1
						img.img-fluid(src="./img/trangchu2.png", alt="").img-fluid
						.gia
							h4 Ice Cream - Mapple Brown
							p 360,000 VND
			.row.hinh2
				.col-sm-4
					img.img-fluid(src="./img/trangchu3.png", alt="")
					.gia
						h4 Ice Cream - Mapple Brown
						p 360,000 VND
				.col-sm-4
					img.img-fluid(src="./img/trangchu4.png", alt="")
					.gia
						h4 Ice Cream - Mapple Brown
						p 360,000 VND
				.col-sm-4
					img.img-fluid(src="./img/trangchu5.png", alt="")
					.gia
						h4 Ice Cream - Mapple Brown
						p 360,000 VND
	section.trangchu2
		.container
			.row.chu1
				.col
					h3 Top Pieces On Sale
			.row
				.col-sm-3
					img.img-fluid(src="./img/home1.png", alt="")
					.price
						h4 Ice Cream - Sweaty Brown
						p 650,000 VND
						btn.btn-primary.btn-lg Contact
				.col-sm-3
					img.img-fluid(src="./img/home2.png", alt="")
					.price
						h4 Ice Cream - Sweaty Brown
						p 650,000 VND
						btn.btn-primary.btn-lg Contact
				.col-sm-3
					img.img-fluid(src="./img/home3.png", alt="")
					.price
						h4 Ice Cream - Sweaty Brown
						p 650,000 VND
						btn.btn-primary.btn-lg Contact
				.col-sm-3
					img.img-fluid(src="./img/home4.png", alt="")
					.price
						h4 Ice Cream - Sweaty Brown
						p 650,000 VND
						btn.btn-primary.btn-lg Contact
			.row.bannerduoi
				.col
					img.img-fluid(src="./img/hinhbanner.png", alt="")
					.gioithieu
						h4 Grand Openning
						p 179D CMT8,P5,Q3,Tp.Hcm
						.nut
							btn.btn View More

	section.pagecuoi
		.container
			.row
				.col.chu
					h4 BEST SELLER
			.owl-carousel.owl-theme
				.row.item
					.col-sm-6
						img(src="./img/last1.png", alt="")
					.col-sm-6
						img(src="./img/last2.png", alt="",style="width:25%").img-fluid.img-position
						p.ten Ice-cream - Sandwich
						p.gia 399,000VND
						p.button-view.px-3.py-2 View More
				.row.item
					.col-sm-6
						img(src="./img/last1.png", alt="")
					.col-sm-6
						img(src="./img/last2.png", alt="",style="width:25%").img-fluid
						p.ten Ice-cream - Sandwich
						p.gia 399,000VND
						p.button-view.px-3.py-2 View More
				.row.item
					.col-sm-6
						img(src="./img/last1.png", alt="")
					.col-sm-6
						img(src="./img/last2.png", alt="",style="width:25%").img-fluid
						p.ten Ice-cream - Sandwich
						p.gia 399,000VND
						p.button-view.px-3.py-2 View More
				