
extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
//- Remove fixed-top if don't want navbar alway on top add class static-postionto make navbar static -//
block body
	
